<img class="portrait" ng-src="{{data.portrait}}" alt="Portrait of {{data.author}}" />
<div class="content">
  <h3 class="author">{{data.author}}</h3>
  <p class="message">{{data.message}}</p>
  <a class="comment-toggle"
     ng-if="data.comments"
     ng-click="toggleComments()"
     ng-class="{'is-expanded': showComments}">
    {{ showComments ? 'Collapse' : 'Expand' }}
  </a>
</div>
<div class="comments" ng-if="data.comments">
  <comment ng-if="showComments"
           ng-repeat="comment in data.comments"
           data="comment" />
</div>
<img class="media" ng-if="data.picture" ng-src="{{data.picture}}" />
