@import "../config/colors";
@import "../config/devices";
@import "../mixins/media_for";

footer {
  font-size: 11px;
  text-align: center;
  margin: 40px 0;

  .links {
    display: inline-block;
  }

  a:link {
    margin-right: 25px;
    text-decoration: none;
    color: $footer-link-color;

    &:hover {
      text-decoration: underline;
    }
  }

  @include media-for($small-screen) {
    .links {
      a:last-child {
        margin-right: 0;
      }
    }
    .copyright {
      display: block;
      margin-top: 10px;
    }
  }
}
