
.composer {
  padding: 40px;
}

.composer .message {
  display: block;
  width: 100%;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
  background: none;
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
  resize: none;
}

.composer .message:focus {
  outline: 0;
}

.composer .message::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

.composer .message::-moz-placeholder {
  color: white;
  opacity: 0.5;
}

.composer .message:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

.composer .add-photo, .composer .add-video {
  background-size: 16px;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-position: left 3px;
  color: white;
  opacity: 0.5;
  font-size: 14px;
  margin-right: 36px;
}

.composer .add-photo {
  background-image: url('images/icons/add-photo-light.svg');
}

.composer .add-video {
  background-image: url('images/icons/add-video-light.svg');
}
