
/* The profile flyout menu in the top menu */

.profile-menu {
  width: 50px;
  height: 30px;
  background: url('../../images/icons/dropdown-triangle.png') center right;
  background-size: 7px 4px;
  background-repeat: no-repeat;
  position: relative;
}

.profile-menu .portrait {
  width: 30px;
  height: 30px;
}

.profile-menu .flyout {
  display: none;
  position: absolute;
  width: 100px;
  top: 35px;
  left: -30px;
  background-color: #f4f5f7;
  border-radius: 4px;
}

.profile-menu .flyout > li {
  width: 100%;
  padding: 7px 0 5px 14px;
  color: #70767f;
  border-top: 1px solid #e2e5e9;
  font-size: 12px;
}

.profile-menu .flyout > li:first-child {
  border: none;
}

.profile-menu .flyout > li:hover {
  color: black;
  cursor: pointer;
}

.profile-menu:hover .flyout {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {

  .profile-menu {
    background-image: url('../../images/icons/dropdown-triangle@2x.png');
  }
}
