@import "../config/devices";
@import "../mixins/media_for";

.toggle-checkbox {

  .toggle {
    display:none;
  }

  .toggle + label {
    height: 25px;
    padding-left: 60px;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  .toggle[value='true'] + label {
    background: url('../images/icons/toggle-on.png') no-repeat;
    background-size: 50px 25px;
    @include media-for($retina-devices) {
      background-image: url('../images/icons/toggle-on@2x.png');
    }
  }

  .toggle[value='false'] + label {
    background: url('../images/icons/toggle-off.png') no-repeat;
    background-size: 50px 25px;
    @include media-for($retina-devices) {
      background-image: url('../images/icons/toggle-off@2x.png');
    }
  }
}
