header {
  background-color: black;
}

.top-menu {
  padding-top: 18px;
}

.top-menu .logo {
  display: block;
  float: left;
  width: 136px;
  height: 24px;
  background-image: url('images/logo.png');
  background-size: 100%;
}

.top-menu .tools {
  float: right;
}

.tools > * {
  display: block;
  float: left;
  margin-left: 25px;
}

.tools .new-message {
  width: 30px;
  height: 25px;
  margin-top: 3px;
  background-image: url('images/icons/new-message.png');
  background-size: 100%;
}

.tools .search {
  width: 200px;
  height: 30px;
  border: 1px solid #404246;
  box-sizing: border-box;
  border-radius: 2px;
  background: black url('images/icons/search.png') 95% center no-repeat;
  background-size: 16px;
}

/* Retina Display support */
@media (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {

  .top-menu .logo {
    background-image: url('images/logo@2x.png');
  }

  .tools .new-message {
    background-image: url('images/icons/new-message@2x.png');
  }

  .tools .search {
    background-image: url('images/icons/search@2x.png');
  }
}
