// COMPOSER
$hero-composer-bg: #00b286;

// SUB NAV
$subnav-color: #bec3cc;
$subnav-active-color: white;
$subnav-active-border-color: #00cc99;
$subnav-icon-color: #747c83;
$subnav-icon-active-color: white;

// POSTS
$post-author-color: #3f454d;
$post-text-color: #70767f;
$post-border-color: #e4e6ea;

// COMMENTS
$comments-toggle-color: #bec3cc;
$comments-bg-color: #f9fafb;
$comments-border-color: $post-border-color;
